<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Sign</title>

<link rel="stylesheet" href="{% static 'css/sign/sign.css' %}">

</head>

<body>

<div class="sign-div-wrap">

        <!--SignIn-->

  <div class="sign-in">
    <form method="post" action="{% url 'sign_in' %}">
       {% csrf_token %}
    <input placeholder="Email" type="email" name="email" required="true"></input>
  <br>
  <input placeholder="Password" type="password" name="password" required="true"></input>
<br>
  <a href="" class="rst-pw">Reset Password</a>
  <br>
<button class="sign-in-btn" type="submit">Sign In</button>
  </form>
  </div>

  <!--SignUp-->

<div class="sign-up">
    <form method="post" action="{% url 'sign_up' %}">
       {% csrf_token %}
  <input placeholder="Email" type="email" name="email" required="true"></input>
<br>
<input placeholder="Password" type="password" name="password" required="true"></input>
<br>
<button class="sign-up-btn" type="submit">Sign Up</button>
</form>

</div>

</div>

</body>

</html>