<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Sign</title>

     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>

<link rel="stylesheet" href="{% static 'css/sign/sign.css' %}">

</head>

<body>

    <a {% if 'sign' in request.META.HTTP_REFERER %} href="{% url 'home' %}" {% else %} href="{{request.META.HTTP_REFERER}}" {% endif %}><i title="Back" class="fa-regular fa-circle-left"></i></a>

{% if messages %}
{% for message in messages %}
<h3 class="message-{{message.tags}}" style="text-align:center;margin-top:-10px;">{{message}}</h3>
{% endfor %}
{% endif %}

<div class="sign-div-wrap">

        <!--SignIn-->

  <div class="sign-in">
      <h1 class="sign-in-style">Sign In</h1>
      {% if error %}<h4 class="error-style">Login details don't match</h4>{% endif %}
    <form method="post" action="{% url 'sign_in' %}" enctype="multipart/form-data">
       {% csrf_token %}
    <input placeholder="Email" type="email" name="sign_in_username" required></input>
  <br>
  <input placeholder="Password" type="password" name="sign_in_password" required></input>
<br>
  <a href="{% url 'password_reset' %}" class="rst-pw">Reset Password</a>
  <br>
<button class="sign-in-btn" type="submit">Sign In</button>
  </form>
  </div>

  <!--SignUp-->

<div class="sign-up">
    <h1 class="sign-up-style">Sign Up</h1>
    {% if username_exist %}<h4 class="error-style">Username already exsist</h4>{% endif %}
    {% if email_exist %}<h4 class="error-style">Email already in use</h4>{% endif %}
    <form method="post" action="{% url 'sign_up' %}" enctype="multipart/form-data">
       {% csrf_token %}
  <input placeholder="Username" type="text" name="sign_up_username" required></input>
<br>
<input placeholder="Email" type="email" name="sign_up_email" required></input>
<br>
<input placeholder="Password" type="password" name="sign_up_password" required></input>
<br>
<button class="sign-up-btn" type="submit">Sign Up</button>
</form>

</div>

</div>

</body>

</html>