/* Blog name & img */

.blog-title{
  margin-top: 50px;
  text-align: center;
  font-family: 'Merriweather', serif;
  overflow-wrap: break-word;
}

.name h1{
  font-size: 4em;
}

.img-main-wrap{
  margin-top: 70px;
  width: 100%;
}

.img-main{
  width: 80%;
  margin: auto;
}

.img-main img{
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

/* Quote */

.quote{
  width: 50%;
  text-align: center;
  margin: auto;
}

.quote h3{
   font-size: 20px;
}

.quote span{
  font-size: 35px;
  color: grey;
  z-index: -1;
}

/* About */

.about{
  text-align: center;
  font-family: 'Merriweather', serif;
}

.about h2{
  font-size: 2.5em;
  margin-top: 50px;
}

/* Sections */

.section{
  width: 100%;
}

.sections h2{
  font-size: 2.5em;
  font-family: 'Merriweather', serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 50px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  cursor: pointer;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.img-txt-div{
    position: relative;
    max-width: 100%;
}

.img-txt{
    position: absolute;
    color: black;
    visibility: hidden;
    height: auto;
    padding: 10px;
    transition: opacity .2s, visibility .2s;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    word-wrap: break-word;
}

.img-txt a{
    color: black;
    text-decoration: none;
}

.img-wrap:hover .img-txt{
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.img-wrap{
    border: solid;
    border-right: none;
}

.img-wrap:last-child{
    border-right: solid;
}

.title-text{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

/* Pop Up Newsletter */

.news-pop-up{
  padding: 30px;
  font-family: 'Montserrat',sans-serif;
  background-color: #202020;
  display: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  border-radius: 2px;
  max-width: 600px;
  position: fixed;
  text-align: center;
}

.pop-div input, .pop-div button{
  border-radius: 0;
  margin-bottom: 15px;
}


#x-close{
  color: #FD7E7E;
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#x-close:hover{
  color: red;
}

/* Responsive Layout */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .news-pop-up{
    margin-top: 150px;
    transform: none;
    display: block;
    width: 100%;
  }
}

@media screen and (max-width:410px){
  .blog-title h1{
    font-size: 3em;
  }
  .img-main{
    width: 100%;
    margin: 0;
  }
  .img-main img{
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width:300px){
  .news-wrap h2{
    font-size: 22px;
  }
}
