.post-title{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

.post-img-wrap{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}

.post-img{
    width: 80%;
    margin: auto;
}

.post-img img{
    max-width: 80%;
    max-height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.entry-wrap{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.entry-wrap h4{
    font-size: 30px;
    margin-bottom: 30px;
}



/* Comments */

.comment-div{
  width: 100%;
}

.comment-title{
  font-size: 2.5em;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.comment-input{
  width: 50%;
  margin: auto;
}

.comment-div textarea{
  height: 100px;
  width: 100%;
  resize: none;
}

.comment-div button{
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #E94560;
  border: solid;
  color: #202020;
  transition: all 0.3s ease;
  margin-bottom: 25px;
}

.comment-div button:hover{
  background-color: white;
  color: #E94560;
  border-color: #E94560;
}

.comment-wrap{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.comment-posted{
  min-width: 200px;
  max-width: 450px;
  width: auto;
  margin: auto;
  cursor: default;
  margin-bottom: 25px;
}

.user-comment{
  border:solid;
  min-height: 50px;
  padding: 5px;
  overflow-wrap: break-word;
}

.username{
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.comment{
  font-family: 'Montserrat',sans-serif;
}


@media screen and (max-width:450px){



}