{% extends 'base.html' %}
{% load static %}

{% block title %}Your Account{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/account_page.css' %}">
{% endblock %}

{% block content %}

<div>
  <div class="centered-div">
    <ul>
      <li><a href="{% url 'sign_out' %}" style="text-decoration:none;">Log Out</a></li>
      <li><p>Username: {{ username }}</p>
    </li>
      <li><p>Email: {{ email }}</p>
    </li>
      <li>
          <form method="post" action="{% url 'newsletter_subscribing' %}">
              {% csrf_token %}
      <input type="checkbox" name="newsletter-checkbox" id="news-in" value="checked" {% if newsletter.subscribed %}checked{% endif %}/>
  <label for="news-in">Newsletter</label>
    </li>
    <li>
        <button type="submit">Save</button>
    </li>
    </form>
    <li><a href="{% url 'password_reset' %}">Reset Password</a>
    </li>
  <li><a href="{% url 'delete_account' %}" onclick="return confirm('Are you sure you want to delete your Account?');" style="color:red;">Delete Account</a>
    </li>
      </ul>
  </div>
</div>
{% endblock %}