<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Home Blog</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>

<!--   div opacity for pop up -->
    <div id="div-op-popup">

<!-- Mobile nav -->

           <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">TRAVEL</a></li>
                        <li><a href="#">BOOK</a></li>
                        <li><a href="#">MUSIC</a></li>
                        <li><a href="#">FIRE</a></li>
                        <li><a href="#">LIFE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- Nav -->

  <div class="nav">
    <div class="nav-socials">
      <a class="fa-brands fa-facebook-f"></a>
      <a class="fa-brands fa-instagram"></a>
    </div>
    <div class="nav-menu">
    <a>HOME</a>
    <a>TRAVEL</a>
    <a>BOOKS</a>
    <a>MUSIC</a>
    <a>FIRE</a>
    <a>LIFE</a>
    </div>
    </div>

<!--  Main  -->
  <div class="all-wrap">

  <div class="circle-wrap">
    <div class="circle"><h1>DM</h1></div>
  </div>
  <hr>
  <div>
  <div class="blog-title name">
    <h1>THE BLOG MAGAZINE</h1>
  </div>
    <div class="img-main-wrap">
      <div class="img-main">
      <img src="https://i.etsystatic.com/13933039/r/il/dffd7e/1335353874/il_fullxfull.1335353874_4awq.jpg">
      </div>
        </div>
    <div class="quote-wrap" style="width:100%;margin-top:50px;">
    <div class="quote">
      <h3><span>“</span>It is more important to know what sort of person has a disease than to know what sort of disease a person has.<span>”</span>
– Hippocrates</h3>
    </div>
  </div>
    </div>

<!--////////////// -->

   <hr>

<!-- About -->

    <div class="about">
      <h2>ABOUT</h2>
    </div>

    <hr>

<!--Sections -->

  <div>
  <div class="blog-title sections">
    <h2>MENU</h2>

    <div class="row">
  <div class="column">
    <img src="https://i.etsystatic.com/13933039/r/il/dffd7e/1335353874/il_fullxfull.1335353874_4awq.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.etsystatic.com/13933039/r/il/dffd7e/1335353874/il_fullxfull.1335353874_4awq.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.etsystatic.com/13933039/r/il/dffd7e/1335353874/il_fullxfull.1335353874_4awq.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://i.etsystatic.com/13933039/r/il/dffd7e/1335353874/il_fullxfull.1335353874_4awq.jpg" style="width:100%">
  </div>
</div>

  </div>
    </div>

    <hr>

<!-- Newsletter -->

    <div class="news-wrap">
      <h2><span style="color:#05D23A;">Subscribe</span> to <span style="color:#F2CB05;">NEWSLETTER<span></h2>
      <div class="form-div">
        <form name="newsletter" method="POST">
          <input type="text" maxlength="20" name="name" placeholder="Name" required>
          </input><input type="email" name="email" placeholder="Email" required></input>
      <br>
      <button type="">Subscribe</button>
      </form>
        </div>
    </div>
    </div>
<div class="footer">
  <div style="display:table-cell;vertical-align: middle;">
  <h6>© Copyright 2022</h6>
  </div>
</div>

  </div>


<!-- Pop Up Newsletter -->

  <div id="pop-up-div" style="display:none;">
<div class="news-pop-up">
   <a id="x-close" onclick="closeDiv();">X</a>
      <h2 style='color:white;margin-bottom:50px;margin-top:20px;'><span style="color:#05D23A;">Subscribe</span> to <span style="color:#F2CB05;">NEWSLETTER<span></h2>
      <div class="form-div pop-div">
        <form name="pop-newsletter" method="POST">
          <input type="text" maxlength="20" name="name-pop-up" placeholder="Name" required>
          </input><br>
        <input type="email" name="email-pop-up" placeholder="Email" required></input>
      <br>
      <button type="">Subscribe</button>
      </form>
        </div>
    </div>
    </div>
<!-- ////////// -->


  <script  src="{% static 'js/home.js' %}"></script>

</body>
</html>
