{% extends 'base.html' %}
{% load static %}

{% block title %}Home Blog{% endblock %}

  {% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block content %}
<!--  Main  -->

  <div class="circle-wrap">
    <div class="circle"><h1>DM</h1></div>
  </div>
  <hr>
  <div>
  <div class="blog-title name">
    <h1>THE BLOG MAGAZINE</h1>
  </div>
    <div class="img-main-wrap">
      <div class="img-main">
      <img src="https://i.etsystatic.com/13933039/r/il/dffd7e/1335353874/il_fullxfull.1335353874_4awq.jpg">
      </div>
        </div>
    <div class="quote-wrap" style="width:100%;margin-top:50px;">
    <div class="quote">
      <h3><span>“</span>It is more important to know what sort of person has a disease than to know what sort of disease a person has.<span>”</span>
– Hippocrates</h3>
    </div>
  </div>
    </div>

<!--////////////// -->

   <hr>

<!-- About -->

    <div class="about">
      <h2>ABOUT</h2>
    </div>

    <hr>

<!--Sections -->

  <div>
  <div class="blog-title sections">
    <h2>MENU</h2>

    <div class="row">

  {% for post in posts %}

    <div class="column img-wrap">
      <h2 class="title-text">{{ post.title }}</h2>
      <div class="img-txt-div">
      <div class="img-txt">
      <a onmouseover='imgOnHover({{post.id}})' onmouseout='imgOnOut({{post.id}})' href="{% url 'section_post' section=post.category post_id=post.id %}">{{ post.description|truncatechars:100 }}</a>
      </div>
      </div>
    <a href="{% url 'section_post' section=post.category post_id=post.id %}">
      <img id="post-img-{{post.id}}" onmouseover='imgOnHover({{post.id}})' onmouseout='imgOnOut({{post.id}})' src="/media/{{post.first_image.image}}" style="width:100%">
      </a>
  </div>

  {% endfor %}

</div>

  </div>
    </div>

    <hr>


     <div class="news-wrap">
      <h2><span style="color:#05D23A;">Subscribe</span> to <span style="color:#F2CB05;">NEWSLETTER<span></h2>
      <div class="form-div">
        <form name="newsletter" method="POST" action="">
        {% csrf_token %}
          <input type="text" maxlength="20" name="name" placeholder="Name" required></input>
          <input type="email" name="email" placeholder="Email" required></input>
      <br>
      <button type="submit">Subscribe</button>
      </form>
        </div>
    </div>

  <script  src="{% static 'js/home.js' %}"></script>

{% endblock %}
