{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/post.css' %}"> {% endblock %}

{% block content %}

<h1 class="post-title">{{ post.title }}</h1>

<div class="post-img-wrap">
<div class="post-img">
<img src="/media/{{post.first_image.image}}" style="width:100%">
</div>
</div>

<hr>

{% for entry in entries %}

<div class="entry-wrap">

<h4>{{ entry.title }}</h4>
<p>{{ entry.content }}</p>

</div>

<hr>

{% endfor %}

<!--Comments-->

      <div class="comment-div">
        <div class="comment-title">
        <h2>Comments</h2>
        </div>
        <form name="form" method="post" action="{% url 'create_comment' section=post.category post_id=post.id %}">
            {% csrf_token %}
        <div class="comment-input">
        <textarea name="comment-post" maxlength="300" required="True"></textarea>
          <button type="submit">Submit</button>
          </form>
        </div>
        </div>
        <div class="comment-wrap">
            {% for comment in comments %}
        <div class="comment-posted">
          <h5 class="username">{{ comment.user }}</h5>
          <div class="user-comment">
            <p class="comment">{{ comment.content }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

<!--/////////////-->

{% endblock %}