{% extends 'base.html' %}
{% load static %}

{% block title %}{{ section }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block content %}


{{ posts.count}}

<div class="row">

{% for post in posts_section %}

  <div class="column">
      <a href="{% url 'section_post' section=section post_id=post.id %}">{{post.title}}</a>
    <img src="/media/{{post.first_image.image}}" style="width:100%">
  </div>


{% endfor %}

</div>

{% endblock %}